{% extends "base.html" %}
{% block title%}Resources Assignments{% endblock %}

{% block content %}
    <center> 
            <br>
            <div data-aos="zoom-in" data-aos-delay="700">
                <img src='static\devoteam-logo.png' alt="home_background" style="height:110px; width:380px;"> <br><br>
            </div> 
            <div data-aos="zoom-in" data-aos-delay="1100">
            <h1 style="color: #56555A; font-weight: bold;">Optimizing Tasks & Resources Assignments</h1><br>
            </div>    
            <div data-aos="zoom-in-up" data-aos-delay="2500">
            <h3 style="color: #56555A; font-weight: bold;">Select the pipeline</h3><br>
            <!-- Extract the projects/tasks labels from the pipeline-->
            <select id ='selectvalue', multiple="multiple"></select>
            
            <script>
                    var selectvalue = document.getElementById("selectvalue"), test = {{ pipeline | tojson }};                    
                    for(var i = 0; i < test.length; i++) // This line checks for the length of the data you feeding in i.e the no of items
                    {
                        var selection = document.createElement("OPTION"), // This line creates a variable to store the different values fed in from the JSON object "TEST"
                        txt = document.createTextNode(test[i]); // This just reads each value from the test JSON variable above
                        selection.appendChild(txt); // This line appends each value as it is read.
                        selection.setAttribute("value",test[i]); // This line sets each value read in as a value for the drop down
                        selectvalue.insertBefore(selection,selectvalue.Child); //This reads eah value into the dropdown based on the order in the "TEST" above.
                    }
            </script>
             
            <br><br>
            
            <form action="#" method="post">
                <input  type="hidden" id='final_selection_value' name="selected_value"/>
                <br>
                <input type="submit" value="Plan" id="submit" class= "button_style"/>
            </form>
        </div>  
       
    </center>

    <script>
        $(document).ready(function() {
            $('#selectvalue').multiselect({
            includeSelectAllOption: true,  
            enableFiltering: false,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'searach..',

            });
            $('#selectvalue').multiselect('select');
        
        });
    </script>

    <script>
        document.getElementById("submit").onclick = function() {
            var selected = [];
            for (var option of document.getElementById('selectvalue').options)
            {
                if (option.selected) {
                    selected.push(option.value);
                }
            }
            document.getElementById('final_selection_value').value = selected

        }
    </script>
    <br><br> <br><br>
    <center>
        <div data-aos="fade-right" data-aos-delay="1200" style="font-size: 16px; font-weight: bold;">
            You have <mark><span style="color: #F8485E;">{{res_KPIs_stats[0]}}</span></mark> Resources
        </div><br>
        <div data-aos="fade-right" data-aos-delay="1400" style="font-size: 16px; font-weight: bold;">
            Currently there are <mark><span style="color: #F8485E;">{{res_KPIs_stats[1]}}</span></mark> on bench
        </div><br>
        <div data-aos="fade-right" data-aos-delay="1600" style="font-size: 16px; font-weight: bold;">
            The people on bench are: <mark><span style="color: #F8485E;">{{res_KPIs_stats[2]}}</span></mark>
        </div><br>
        <div data-aos="fade-right" data-aos-delay="1800" style="font-size: 16px; font-weight: bold;">
            The overall utilization till year end is <mark><span style="color: #F8485E;">{{res_KPIs_stats[3]}}</span></mark>
        </div>  
        <br><br>
    </center>  
{% endblock %}


